@charset "utf-8";
html, body {
    font-size: 40px;
    font-family: 'Lato', 'Open Sans', 'Noto Serif JP', sans-serif;
    font-weight: 300;
}

p {
    line-height: 2;
    font-size: 1.3vw;
}

h1 {
    margin: 0;
    font-weight: 300;
    font-size: 5vw;
}

h2 {
    font-size: 3.3vw;
    font-weight: 300;
}

div {
    display: block;
}

.section {
    scroll-snap-align: start;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title{
    color: white;
    background-color: black;
    height: 100vh;
    position: relative;
}
.title p{
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: logo-fadeIn 3s ease 1s 1 forwards normal;
}

.logo{
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 25.5%;
    right: 25.5%;
    width: 50vw;
    height: auto;
    opacity: 0;
    animation: logo-fadeIn 3s ease 0s 1 forwards normal;
}

  
@keyframes logo-fadeIn { /*animetion-nameで設定した値を書く*/
  
    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
  
}

.head {
    background-image: url(images/staff.jpg);
}

.staff {
    background-image: url(images/camera.jpg);
}

.wrapper {
    text-align: center;
    color: white;
    padding: 4vw;
    max-width: 35vw;
    width: 100%;
    margin: 0 0 0 0;
}

.staff .wrapper {
    max-width: 35vw;
    width: 100%;
}

.wrapper p {
    text-align: left;
    margin-bottom: 40px;
}

.btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    box-sizing: border-box;
    font-size: 20px;
    border: white solid 2px;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

a.btn span {
    position: relative;
}

.btn:hover {
    color: black;
    background-color: white;
}

.flex {
    position: relative;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: flex-start;
}

.tategaki{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vh 0 0 0;
    color: yellow;
    writing-mode: vertical-rl;
}

.tategaki h1{
    font-size: 230%;
}

.tategaki h1 {
    margin: 0;
}

.flex img {
    
    height: 80%;
    padding: 0 0 0 5vw;
    margin: auto 5vw;
}

.text {
    width: 50vw;
    padding: 2rem;
    color: white;
    margin: auto 0;
}

.text h1 {
    font-size: 4vw;
}

.container {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 12px;
    }
    .wrapper {
        padding: 1rem;
        margin: 0 auto;
        max-width: 300px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .staff .wrapper{
        max-width: 50vw;
    }
    .flex{
        max-width: 100%;
        max-height: 100%;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex img{
        height: 55vh;
        margin-bottom: 20px;
        padding: 0;

    }
    .text{
        width: 85%;
        padding: 0.2rem 0.8rem;
        margin: 0;
    }

    .text h1{
        font-size: 3vw;
    }

    .btn{
        width: 40%;
        margin: 3% auto;
    }

    .logo{
        top: 40%;
        bottom: 40%;
    }
}

@media (orientation: portrait) {
    p {
        font-size: 2vw;
    }
    h1 {
        font-size: 5.5vw;
    }
    .wrapper {
        padding: 6vw;
        max-width: 50vw;
    }
}
